<div class='container-fluid flex-grow-1 d-flex flex-column'>
    <div class='row flex-grow-1'>
        <div class='col-sm-12 d-flex flex-column'>
            <ul class='nav justify-content-around navbar-light bg-light my-2'>
                {{#each locations}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-capitalize" href="#" id="locations" data-toggle="dropdown">
                        {{this.[0]}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="{{this.[0]}}-districts">
                        {{#each this.[1]}}
                            <a id="{{this.[0]}}" href='/location/map/hong-kong-island/central' data-lat={{this.[1]}} data-lng={{this.[2]}}
                                class='map-link py-0 nav-link text-capitalize'>{{this.[0]}}</a>
                        {{/each}}
                    </div>
                </li>
                {{/each}}
            </ul>
            <div id="map" class='mb-3 rounded flex-grow-1'></div>
        </div>
    </div>
</div>