<div class='container-fluid'>
    {{> restaurants_nav}}
    <div class='row'>
        <div class="col">
            {{#each restaurants}}
            <div class='card mb-3 mt-0'>
                <div class='row'>
                    <div class='col-sm-4'>
                        <h5 class='card-header'><a href='/restaurants/details/{{id}}'>{{name}}</a></h5>
                        <div class='card-body'>
                            <img class='w-100 mb-2' src={{main_picture_URL}}>
                            {{#if logo}}
                            <img class='w-100 custom-area-xs' src={{logo}}>
                            {{/if}}
                            <hr>
                            <p class='card-title'><i class="fa fa-thumbs-up"></i>
                                {{rating}}</p>
                            <p class='card-title add-favourite'>☆ Add to favourite</p>

                        </div>
                    </div>
                    <div class='col-sm-8'>
                        <h5 class='card-header'>Restaurant details</h5>


                        <table class='table'>
                            <tbody>
                                <tr>
                                    <th scope='row'> Description: </th>
                                    <td>{{description}}</th>
                                </tr>
                                <tr>
                                    <th>Price Range: </th>
                                    <th> {{price}}</th>
                                </tr>
                                <tr>
                                    <th>Categories: </th>
                                    <th> {{categories}}</th>
                                </tr>
                                <tr>
                                    <th>Contact Number: </th>
                                    <th> {{telephone_number}}</th>
                                </tr>
                                <tr>
                                    <th>Address: </th>
                                    <th> {{street_address}}</th>
                                </tr>
                                <tr>
                                    <th>Web Address: </th>
                                    <th> {{website_URL}}</th>
                                </tr>
                                <tr>
                                    <th>Opening Hours :</th>
                                    <th> {{opening_time}} - {{closing_time}}</th>
                                </tr>
                                <tr>
                                    <th>Social Media: </th>
                                    <th><a href='{{social_media_URL}}'> {{social_media_URL}}</a></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class='row my-2'>
        <div class="col">
            <ul class='filter-bar d-flex justify-content-around w-100 m-0'>
                {{#if (isDisabled value1)}}true{{else}}false{{/if}}

                <button onclick="window.location.href='/restaurants/all?page={{pages.first}}';"
                    class='btn btn-primary btn-green flex-grow-1'>First</button>
                <button onclick="window.location.href='/restaurants/all?page={{pages.previous}}';"
                    class='btn btn-primary btn-green flex-grow-1'>Previous</button>
                <button onclick="window.location.href='/restaurants/all?page={{pages.next}}';"
                    class='btn btn-primary btn-green flex-grow-1'>Next</button>
                <button onclick="window.location.href='/restaurants/all?page={{pages.last}}';"
                    class='btn btn-primary btn-green flex-grow-1'>Last</button>

            </ul>
        </div>
    </div>
</div>