<div class='container-fluid'>
    <div class='row '>
        <div class='col-sm-12'>
            {{> user_nav}}
            {{#each reviews}}
            <div class='card p-0'>
                <h5 class='card-header'><a href='/restaurant/details/{{id}}'>{{restaurant.name}}</a></h5>
                <div class='row'>
                    <div class='col-sm-4'>
                        <div class='card-body'>
                            <img class='w-100 mb-2 custom-area-small' src={{restaurant.main_picture_URL}}>
                            <img class='w-100 custom-area-xs' src={{restaurant.logo}}>

                        </div>
                    </div>

                    <div class='col-sm-8'>
                        <div class='card-body'>
                            <h5 class='card-title'> {{title}}</h5>
                            <h7 class='card-subtitle text-muted'>{{date_created}} </h7>
                            <h7 class='card-subtitle text-muted'>{{date_modified}}</h7>
                            <p class='card-text'>{{body}}</p>
                            <img class='card-img w-50' src={{pictures}}>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>